parameters:
    level: 6
    checkMissingIterableValueType: false
    paths:
        - libasynql/src
    bootstrapFiles:
        - phar://PharBuilder/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - vendor/nethergamesmc/ngessentials
        - phar://PharBuilder/PocketMine-MP.phar
    excludePaths:
        analyse:
            - bin
            - PharBuilder
            - vendor